# Compiled binaries
cpx
/cpx-src/cpx

# C++ compiled outputs
*.out
*.exe
*.o
*.out.dSYM/
*.dSYM/
template
test_pch
test_pch.cpp
[A-Za-z]
[A-Za-z][0-9]
[A-Za-z][0-9][0-9]

# Contest solution files
[A-Z].cpp
[a-z].cpp
[A-Z][0-9].cpp
[a-z][0-9].cpp
[A-Z][0-9][0-9].cpp

# Test case files
*-*.in
*-*.out

# macOS & Editor
.DS_Store
.clangd/
.vscode/
.idea/
*.swp
*.swo

# Other scripts
runsamples-debug.sh
